body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.logo{
	height: 40px;
	margin: 5px 0px;
}
.main-info{
	color: #428bca;
	font-size: 14px;
	font-weight: 600;
	line-height: 35px;
	text-align: left;
}

.home-block{
	position: absolute;
	width: 100%;
	height: 100%;
}

.main-slide{
	width: 100%;
	height: 65%;
	background: #AB040B; 
	position: relative;
}

.home-bottom{
	width: 100%;
	text-align: center;
	height: 35%;
	position: relative;
}

.btn-love{
	margin-top: 20%;
	position: absolute;
	left: 40%;
	bottom: 40%;
	width: 20%;
	font-weight: bold;
}
.love-text{
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.love-text h4 {
    bottom: 0;
    color: #fff;
    font-size: 45px;
    margin-left: 10px;
    margin-top: 0;
    position: absolute;
}

.love-fly{
	background-image: url("../images/red3.png");
	 background-size: 135px 120px;
	width: 135px;
	height: 130px;
	background-repeat: no-repeat;
	position: fixed;
	top: 10%;
	right: 10%;
	
}

#carousel-example-generic{
	/* padding-top: 10px; */
	margin-top: -30px;
}

.carousel-caption{
	top: 5px;
	padding: 0px;	
}


.carousel-control.right, .carousel-control.left{
	background: none;
}

.frame-div{
	text-align: center;
}

.frame-div img{
	margin: 0 auto;
	max-width: 300px;
	margin-top: 40px; 
}

.quotes-div{
	margin-top: 20px;
	padding: 5% 5%;
	margin-bottom:30px;
	text-align: center;
	color: #AB040B;
	height: 150px;
}


.carousel-indicators{
	bottom: 0px;
}

.carousel-indicators li{
	border: 1px solid #ccc;
	width: 8px;
	height: 8px;
}

.carousel-indicators .active{
	background: #ccc ;
	border: 1px solid #ccc;
	width: 8px;
	height: 8px;
}

.carousel-caption{
	text-shadow: none;
	color: #fff;
	font-size: 11px;
}

.quotes{
	background-image: url("../images/quotes.png");
	background-repeat: no-repeat;
	background-size: 12px 12px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
}
.quotes2{
	background-image: url("../images/quotes2.png");
	background-repeat: no-repeat;
	background-size: 12px 12px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 5px;
}


.menu-div{
	position: fixed;
	top: 10px;
	left: 10px;
	background: #ab040b;
	width: 35px;
	height: 35px;
	text-align: center;
	border-radius:50px;
}